<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/Logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)"> <!--enviamos el valor del form a la funcion onLogin-->
      <input type="text" id="login" class="fadeIn second" formControlName="correoUsuario" placeholder="user">
      <input type="password" id="password" class="fadeIn third" formControlName="contrasenaUsuario" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="errorStatus">
      <p>{{errorMsg}}</p>
    </div>

  </div>
</div>